<!DOCTYPE html>
<html lang="pt-BR">
    <head th:replace="~{_template :: head('CargoFlow')}"></head>

    <style th:replace="~{_template :: #style}"></style>

    <body>
        <header th:replace="~{_template :: #header-component}"></header>

        <main class="main-container form-container">
            <form th:action="${'/employees/create'}" method="post" th:object="${employee}">
                <div th:replace="~{ _template :: textInput('name', 'Nome') }"></div>
                <div th:replace="~{ _template :: textInput('cpf', 'CPF') }"></div>

                <div th:replace="~{_template :: formActions('/employees')}"></div>
            </form>
        </main>

        <footer th:replace="~{_template :: #footer-component}"></footer>
    </body>
</html>
